:root {
  --primary: #6366f1;
  --primary-dark: #4f46e5;
  --secondary: #e83e8c;
  --secondary-dark: #b31e63;
  --accent: #10b981;
  --warning: #f59e0b;
  --primary-shadow: #6366f14d;
  
  --bg: #f3f3f3;
  --bg-secondary: #f4f4f5;
  --bg-gradient: radial-gradient(circle, #6366f120, #ec489920);
  --card: #ffffff;
  --text: #18181b;
  --text-secondary: #71717a;
  --border: #e4e4e7;
  --border-light: #f1f1f3;
  --secondary-shadow: #e83e8c4d;
  
  --bg-dark: #0f0f0f;
  --bg-secondary-dark: #1a1a1a;
  --bg-gradient-dark: radial-gradient(circle, #4f46e510, #ec489910);
  --card-dark: #1c1c1c;
  --text-dark: #f4f4f5;
  --text-secondary-dark: #a1a1aa;
  --text-writing-header: #ffffff54;
  --border-dark: #27272a;
  
  --success: #22c55e;
  --error: #ef4444;
  
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.875rem;
  --font-size-xxl: 3rem;
  --font-size-xxxl: 10rem;
  
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 12px;
  --space-lg: 16px;
  --space-mg: 20px;
  --space-xl: 24px;
  --space-2xl: 32px;
  --space-3xl: 48px;
  
  --container-max: 78%;
  --container-max-tablet: 86%;
  --container-max-mobile: 96%;
  --border-radius: 12px;
}

.light {
  --bg: var(--bg);
  --bg-gradient: var(--bg-gradient);
  --card: var(--card);
  --text: var(--text);
  --border: var(--border);
}

.dark {
  --bg: var(--bg-dark);
  --bg-gradient: var(--bg-gradient-dark);
  --card: var(--card-dark);
  --text: var(--text-dark);
  --border: var(--border-dark);
}